# Credenciales y configuración de RDS
RDSPASS=""
RDSDB="moviesearch"
RDSUSER="postgres"
RDSIDENTIFIER="movies-search-db"
SGRDSNAME="movies-search-rds-sg"
RDSHOST="" # despues de crear RDS hay que llenar esta variable
